a{
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
body{
    align-items: center;
    background-color: #0B032D;
    background-image: url("../images/backgroundPhone.png");
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    pointer-events: none;
    transition: .5s ease-in-out;
}
div{
    background-color: white;
    border-radius: 20px;
    height: 80vh;
    pointer-events: none;
    transition: .5s ease-in-out;
    width: 90vw;
}
div:hover,body:hover{
    background-color: #FFC045;
    transition: .5s ease-in-out;
    background-image: none;
}
.direita, .esquerda{
    border: 2px solid #0B032D   ;
    border-radius: 10px;
    color: #FFC045;
    font-size: 18pt;
    height: 10vh;
    pointer-events: auto;
    transition: .5s ease-in-out;
    width: 35vw;
}
.direita:hover, .esquerda:hover{
    background-color: #FFC045;
    color: white;
    font-size: 50pt;
    transition: .5s ease-in-out;
    width: 30vw;
}
.esquerda:hover + .direita{
    background-color: #FFC045;
    color: #FFC045;
    transition: .5s ease-in-out;
}
h1{
    text-align: center;
    font-size: 32pt;
    color: #333333;
    margin-bottom: 0;
}
h2{
    font-size: 32pt;
    color: #333333;
    margin: 0 5vw 15vw 5vw;
    text-align: center;
}
p{
    color: #bcbcbc;
    font-size: 14pt;
    margin: 5vw;
    text-align: center;
}
section{
    align-items: center;
    display: flex;
    height: 30vh;
    margin: 0;
    justify-content: space-around;
}
span, b{
    color: #FFC045;
}

@media(min-width: 768px){
    
}