a{
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
body{
    align-items: center;
    background-color: #0B032D;
    display: flex;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    margin: 0;
    transition: .5s ease-in-out;
}
div{
    background-color: #0B032D;
    border-radius: 20px;
    height: 80vh;
    pointer-events: none;
    transition: .5s ease-in-out;
    width: 80vw;
}
div:hover,body:hover{
    background-color: #FFC045;
    transition: .5s ease-in-out;
}
.direita, .esquerda{
    border-radius: 50px;
    border: 2px solid #FFC045;
    color: #FFC045;
    font-family: 'Coustard', serif;
    font-size: 22pt;
    height: 10vh;
    pointer-events: auto;
    transition: .5s ease-in-out;
    width: 200px;
}
.direita:hover, .esquerda:hover{
    background-color: #FFC045;
    color: white;
    font-size: 50pt;
    transition: .5s ease-in-out;
    width: 30vw;
}
.direita:hover + .esquerda{
    background-color: #FFC045;
    color: #FFC045;
    transition: .5s ease-in-out;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}