body{
    align-items: center;
    background-image: url(../images/backgroundPhone.png);
    background-size: contain;
    margin: 0;
    justify-content: center;
    display: flex;
    height: 100vh;
}
body > div{
    background-color: white;
    height: 90vh;
    width: 90vw;
}
div > h1{
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 5vh 0 0 0;
}
span{
    color: #FFC045;
}
