{% extends 'base.html' %}
{% load static %}

{% block css %}
href="{% static 'css/aonde.css' %}"
{% endblock %}

{% block content %}
<div>
	<header>
		<h1>Seja</h1>
		<h2><span>Bem-vindo</span> ao Aonde<span>!</span></h2>
		<p>Nós somos uma plataforma que <span>revoluciona</span> o conceito de achados e perdidos. Para prosseguir você deve escolher se <span>perdeu</span> ou <span>achou</span> algo! 
		</p>
	</header>
	<section>
		<a href="/perdi" class="esquerda">EU PERDI</a>
		<a href="/achei" class="direita">EU ACHEI</a>
	</section>
</div>
{% endblock %}