{% extends 'base.html' %}
{% load static %}

{% block css %}
href="{% static 'css/aonde.css' %}"
{% endblock %}

{% block content %}
<div>
	<header>
		<h1>Seja</h1>
		<h2><span>Bem-vindo</span> </br> ao Aonde<span>!</span></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Donec id nisl tortor</span> Sed in lorem rhoncus massa tincidunt venenatis. Quisque. 
		</p>
	</header>
	<section>
		<a href="/perdi" class="esquerda">Eu perdi</a>
		<a href="/achei" class="direita">Eu achei</a>
	</section>
</div>
{% endblock %}