{% extends 'base.html' %}
{% load static %}

{% block css %}
href="{% static 'css/cadastro.css' %}"
{% endblock %}

{% block content %}
<form method="POST">
    {{aviso}}
    {% csrf_token %}

    <nav>
        <a href="#">Quarta</a>
        <a href="#">feira</a>
    </nav>

    
    <div class="inputs">
        <h1>Faça seu cadastro</h1>
        <input required type="text" name="nome" placeholder="Digite seu nome">
        <input required type="email" name="email" placeholder="Digite seu email">
        <input required type="password" name="senha" placeholder="Digite sua senha">
        <input required type="date" name="nascimento">
        <input required type="text" name="cep" pattern="[0-9]*" placeholder="Digite seu CEP">
        <label>Gênero</label>
        <input required type="radio" name="gender" value="M">Masculino
        <input required type="radio" name="gender" value="F">Feminino
        <input required type="radio" name="gender" value="NB">Não-Binário
        <input type="submit" value="Próximo">
        <a href="/login">Já possui cadastro?</a>
    </div>
        
</form>
{% endblock %}