{% extends 'base.html' %}
{% load static %}

{% block css %} href="{% static 'css/index.css' %}" {% endblock %}

{% block content %}

<body>
    <nav>
        <div>
            <img src="../static/images/logo.png" alt="Imagem de uma caixa amarela representando o logo">
            <p>AONDE</p>
        </div>
        <!-- <div class='menu'>
            <span class='traco-1'></span>
            <span class='traco-2'></span>
            <span class='traco-3'></span>
        </div> -->
    </nav>
    <header>
        <h1>De onde <span>estiver</span> para <span>aonde</span> você precisar.</h1>
        <div>
            <a href="/login">ENTRAR</a>
            <a href="/cadastro">CRIE SUA CONTA</a>
        </div>
        <img src="../static/images/hand.png" alt="Imagem de uma mão segurando um celular com a tela do aplicativo">
    </header>
    <section>
        <div>
            <h1>Você já viu <span>quantas pessoas</span> já perderam algo? <span>:(</span></h1>
        </div>
        <div class="cards">
            <div>
                <h1>Porcentagem</h1>
                <p>Mais de <span>75% das pessoas</span> que transitam por lugares públicos já perderam algum objeto. </p>
            </div>
            <div>
                <h1>Lugares</h1>
                <p>Entre eles estão os <span>transportes públicos</span>, shoppings, instituições de ensino, parques e etc</p>
            </div>
            <div>
                <h1>Desistência</h1>
                <p>Das pessoas que perdem, muitas delas nem <span>entram em contato</span> com o Achados e Perdidos.</p>
            </div>
        </div>
    </section>
    <article>
        <div>
            <h1>E como o <span>Aonde</span> funciona?</h1>
        </div>
        <div>
            <h1>O <span>primeiro passo</span> é sempre o mais difícil</h1>
            <p>Primeiramente é necessário que efetuar o seu cadastro no site! Você pode se <b>inscrever com o facebook</b> e evitar ter que preencher aquele formulário que também <b>odiamos</b>.</p>
        </div>
        <div>
            <h1><span>Praticidade</span> e comprometimento</h1>
            <p>Após isso é só você registrar o item e em até 48 horas iremos entrar em contato com os resultados. Fácil, né?</p>
        </div>
    </article>
    <div id="patrocinadores">
        <h1>Nossos Patrocinadores</h1>
        <div>
            <img src="../static/images/mastertech.png" alt="Logo da mastertech">
            <img src="../static/images/metro.png" alt="Logo do metrô">
            <img src="../static/images/EH.png" alt="Logo da Estação Hack">
        </div>
    </div>
    <footer>
        <div>
            <img src="../static/images/logoBranco.png" alt="">
            <h1>AONDE</h1>
        </div>
        <h1>Redes sociais</h1>
        <div>
            <img src="../static/images/facebook.svg" alt="">
            <img src="../static/images/instagram.svg" alt="">
            <img src="../static/images/linkedin.svg" alt="">
            <img src="../static/images/youtube.svg" alt="">
            <img src="../static/images/twitter.svg" alt="">
        </div>
        <div>
            <img src="../static/images/google.svg" alt="">
            <img src="../static/images/apple.svg" alt="">
        </div>
    </footer>
</body>
{% endblock %}