{% extends 'base.html' %}
{% load static %}

{% block css %} href="{% static 'css/login.css' %}" {% endblock %}

{% block content %}

<div>
    <h1>Faça login no <span>Aonde!</span></h1>
    <header>
        <a href="" id="btnFacebook">ENTRAR COM O FACEBOOK</a>
    </header>
    <p>OU</p>
    {{msg}}
    <form action="/login" method="POST">
    {% csrf_token %}
        <input required type="email" name="email" placeholder="Endereço de e-mail">
        <input required type="password" name="senha" placeholder='Senha'>
        <div>
            <input type="checkbox" name="lembrar">
            <label for="lembrar">Lembrar de mim</label>
        </div>
        <input type="submit" value="ENTRAR">
    </form>
    <p id="linkSenha"><a href="">Esqueceu sua senha?</a></p>
    <p>Não tem uma conta?<a href="/cadastro"> Inscreva-se</a></p>
</div>
{% endblock %}