{% block content %}
<h1>Para continuar, faça login no Aonde.</h1>
<a href="">Entrar com facebook</a>
<h2>ou</h2>
{{msg}}
<form action="/login" method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="digite seu email" required>
    <input type="password" name="senha" required>
    <input type="checkbox" name="lembrar">Lembrar de mim
    <input type="submit" value="entrar">
</form>
<a href="">Esqueceu sua senha?</a>
<h3>Não tem uma conta?</h3>
<a href="/cadastro">Inscrever-se no aonde</a>
{% endblock %}