{% extends 'base.html' %} 
{% load static %}

{% block css %} href="{% static 'css/perdi.css' %}" {% endblock %}

{% block content %}

<div>
    <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Descreva o item que você perdeu. Quanto mais <span>detalhado</span> melhor! <span>:)</span></h1>
            <label for="imagem">Se preferir, coloque uma foto do item perdido!</label>
            <div id="btnImagem">
                    <input id="botao" type="file" name="imagemPerdida">
                    <label for="botao">Selecione um arquivo</label>
            </div>
            <textarea name='descricaoPerdeu' placeholder='Descreva aqui o item perdido, lembrando que quanto mais detalhes melhor!' cols="30" rows="2"></textarea>
            <input name="localPerdeu" placeholder="Onde foi que você perdeu?">
            <label>Data quando perdeu o item</label>
            <input type="date" name="dataPerdeu">
            <textarea  name='tagsPerdeu' placeholder='Descreva o item perdido utilizando tags. Exemplo: #livro #harrypotter #novo' cols="30" rows="2"></textarea>
            <input type="submit" value="ENVIAR">
    </form>
</div>

{% endblock %}